* { padding:0px;margin:0px; }
.equation {font-family: Droid Sans,Trebuchet MS,Verdana,Arial,Helvetica,sans-serif;font-size:14px;}
.param {font-family: Droid Sans,Trebuchet MS,Verdana,Arial,Helvetica,sans-serif;font-size:12px;}
input[type=text] {padding:5px;border:1px solid #c0c0c0;background:#ffffff;color:#000000;margin-left:0px;margin-right:0px;margin-top:4px;margin-bottom:4px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
.plot {width:210px;padding:15px;cursor:move;}
.plot input {width:150px;}
.plottitle {font-family:Droid Sans,Trebuchet MS,Verdana,Arial,Helvetica,sans-serif;font-size:11px;font-weight:bold;color:#a0a0a0;padding-bottom:5px;line-height:18px;}

html {height:100%;}
body {height:100%;font-family:Droid Sans,Trebuchet MS,Verdana,Arial,Helvetica,sans-serif;font-size:12px;line-height:1.5em;margin:0px;background:#ffffff;color:#000000;overflow:hidden;}

h1 {font-size:30px;margin-bottom:30px;margin-top:30px;color:#606060;}
h2 {border-left:10px solid #a0a0a0;padding-left:10px;}

.noselect {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

li {
  -webkit-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

input, textarea {
  -webkit-user-select:text;
  -ms-user-select:text;
  -o-user-select:text;
  user-select:text;
}

input:focus { 
  border:1px solid #ff8000;
}

.colorpicker { width:0px;height:0px;border:0px;padding:0px;margin:0px; }

a:link { color:#ff8000;text-decoration:none; }
a:visited { color:#ff8000;text-decoration:none; }
a:hover { color:#ff8000;text-decoration:underline; }
a:active {outline:none;-moz-outline-style:none;}
a:focus {outline:none;-moz-outline-style:none;}

:focus {outline:none;}
::-webkit-scrollbar { width:12px;height:12px; }
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment { height:0px;display:block;background-color:#ffffff; }
::-webkit-scrollbar-track-piece { background-color: #ffffff;-webkit-border-radius:0px; }
::-webkit-scrollbar-thumb:vertical {height:50px;background-color:#909090;border:2px solid #ffffff;-webkit-border-radius:6px;}
::-webkit-scrollbar-thumb:horizontal {height:50px;background-color:#909090;border:2px solid #ffffff;-webkit-border-radius:6px;}

